:root {
  --color-primary: #4d5b9e;
  --color-primary-dark: #23232b;
  --color-secondary: #d1d3dc;
  --color-secondary-dark: #737e94;
  --color-text: #293264;
  --color-text-dark: #d1d3dc;
  --color-background: #f5f7fb;
  --color-background-dark: #23232b;
  --color-accent: #94d7a2;
  --color-accent-dark: #66dc9b;
  --color-error: #f8bcbc;
  --color-error-dark: #f9b1b1;
  --color-border-dark: #737e94;
  --color-placeholder: #8a8da3;
  --color-social: #435090;
  --color-answer: #d6dbf5;
  --color-answer-dark: #5a598d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'inter', sans-serif;
}

.main {
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.main.dark {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

button {
  cursor: pointer;
  border: none;
}

.right-blob {
  position: absolute;
  top: 0;
  right: 0;
}

.left-blob {
  position: absolute;
  bottom: 0;
  left: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 0 10%;
}

.start.content {
  text-align: center;
}

h1,
h2 {
  font-family: 'karla', sans-serif;
}

.start-btn {
  background-color: var(--color-primary);
  border-radius: 15px;
  padding: 16px 20px;
  width: 200px;
  color: white;
  margin-top: 15px;
  font-size: 1rem;
  align-self: center;
}

.start-btn.dark {
  background-color: var(--color-background);
  color: var(--color-text);
}

button:active:not(.back-btn) {
  box-shadow: inset 3px 3px 5px 5px rgba(0, 0, 0, 0.12);
}

.quiz-question {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid var(--color-secondary-dark);
  padding-bottom: 15px;
}

.quiz-question--question {
  text-align: left;
  font-size: 1.1rem;
}

.quiz-question--answers {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.ans-btn {
  padding: 4px 12px;
  min-width: 60px;
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  font-size: 1rem;
  background-color: transparent;
}

.ans-btn.dark {
  color: var(--color-text-dark);
  border: 1.2px solid var(--color-secondary-dark);
}

.ans-btn.selected {
  background-color: var(--color-answer);
  border: 0;
}

.ans-btn.dark.selected {
  background-color: var(--color-answer-dark);
  color: var(--color-text-dark);
}

.quiz--buttons,
.upload-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quiz--buttons > button,
.upload-buttons > button {
  border-radius: 15px;
  padding: 12px 20px;
  font-size: 0.9rem;
  border-radius: 8px;
}

.check-btn,
.submit-btn {
  background-color: var(--color-primary);
  color: white;
  font-size: 1rem;
}

.check-btn.dark,
.submit-btn.dark {
  background-color: var(--color-text-dark);
  color: var(--color-text);
}

.back-btn,
.cancel-btn {
  background-color: var(--color-text-dark);
  color: var(--color-text);
  font-size: 1rem;
}

.back-btn.dark,
.cancel-btn.dark {
  background-color: var(--color-primary-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
}

.back-btn:active {
  box-shadow: inset 3px 3px 5px 5px rgba(0, 0, 0, 0.05);
}

.ans--buttons:disabled {
  cursor: none;
}

.ans-btn:disabled:not(.correct) {
  opacity: 0.5;
}

.ans-btn.dark:disabled:not(.correct) {
  opacity: 0.9;
}

.ans-btn.correct {
  background: var(--color-accent);
  border: none;
}

.ans-btn.dark.correct {
  background: var(--color-accent-dark);
  color: #1f232f;
}

.ans-btn.incorrect {
  background: var(--color-error);
  border: none;
}

.ans-btn.dark.incorrect {
  background: var(--color-error-dark);
  color: #1f232f;
}

.content.correct-answers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz--questions,
.ans--questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.quiz--buttons {
  align-self: center;
  margin-top: 10px;
}

.ans--action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.ans--result {
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.play-again-btn,
.upload-btn {
  background-color: var(--color-primary);
  padding: 10px 25px;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
}

.play-again-btn.dark,
.upload-btn.dark {
  background-color: var(--color-background);
  color: var(--color-text);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
  margin-top: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  padding: 20px;
}

.form.dark {
  border: 1px solid var(--color-border-dark);
}

.form > input,
.form > select,
.name-input > input,
.scoreboard--type {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  font-size: 1rem;
}

.form > input,
.form > select {
  margin-bottom: 15px;
}

.form.dark > input,
.form.dark > select,
.scoreboard--type.dark,
.name-input.dark > input {
  border: 1px solid var(--color-border-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-text-dark);
}

.form.dark > input::placeholder {
  color: var(--color-placeholder);
}

.form > label {
  padding: 2px 5px;
  margin-bottom: 4px;
}

.form.dark > label {
  color: var(--color-text-dark);
}

.form > input:focus {
  outline: none;
}

.footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 7px;
  font-size: 0.9rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  z-index: 1;
}

.footer--socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-left: 1px solid var(--color-primary);
  padding-left: 10px;
  padding-top: 3px;
}

.footer--socials > a {
  color: var(--color-social);
  font-size: 1.7rem;
}

.footer--socials.dark {
  border-left: 1px solid var(--color-text-dark);
}

.footer--socials.dark > a {
  color: var(--color-text-dark);
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 20px;
  z-index: 2;
}

.theme-setting {
  display: flex;
  align-items: center;
}

.theme-setting .theme-switcher {
  font-size: 2rem;
  color: var(--color-primary);
  cursor: pointer;
}

.theme-setting .theme-desc {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-left: 5px;
  margin-top: -7px;
}

.theme-setting.dark .theme-switcher {
  color: var(--color-text-dark);
}

.theme-setting.dark .theme-desc {
  color: var(--color-text-dark);
}

.quiz.content > div,
.ans.content > div {
  width: 80%;
}

.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  margin-top: -7px;
}

.page-nav--div {
  cursor: pointer;
  padding: 7px 10px;
}

.page-nav--div.selected {
  background-color: var(--color-primary);
  color: white;
  border-radius: 8px;
}

.page-nav--div.selected.dark {
  background-color: var(--color-background);
  color: var(--color-primary-dark);
  border: none;
}

.upload-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form-container > form {
  background-color: var(--color-background);
  text-align: center;
  padding: 20px 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.statistics {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.statistics--field {
  font-weight: 600;
}

.name-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ans--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dark h1 {
  color: var(--color-background);
}

.scoreboard {
  padding-top: 10px;
}

.scoreboard--records {
  border-radius: 8px;
  max-width: 400px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.scoreboard--type {
  max-width: 400px;
  width: 95%;
}

.scoreboard--record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 7px;
  background-color: var(--color-answer);
  border-radius: 8px;
}

.scoreboard--record:first-child:not(.highlight) {
  background-color: var(--color-primary);
  color: white;
}

.scoreboard--record.dark {
  background-color: var(--color-primary-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-secondary-dark);
}

.scoreboard--record.dark:first-child {
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
}

.scoreboard--record.highlight {
  background-color: var(--color-accent);
}

.scoreboard--record.highlight.dark {
  background-color: var(--color-accent-dark);
  color: var(--color-text);
  border: none;
}

.scoreboard--no-records {
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.upload-form-container.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.upload-form-container.dark > form {
  background-color: var(--color-background-dark);
}

@media only screen and (max-width: 480px) {
  .content {
    font-size: 0.9rem;
  }
  .form {
    width: 100%;
    font-size: 0.9rem;
  }
  .quiz-question--question {
    font-size: 0.9rem;
  }
  .start-btn,
  .quiz-question--answers button {
    width: 100%;
    font-size: 0.9rem;
  }
  .form > input::placeholder {
    font-size: 0.9rem;
  }
  .form > input,
  .form > select {
    font-size: 0.9rem;
  }
  .quiz--buttons {
    width: 100%;
  }
  .quiz--buttons > button {
    height: 100%;
    width: 100%;
  }
  .ans--buttons > button {
    font-size: 0.9rem;
  }
  .footer {
    font-size: 0.7rem;
  }
  .scoreboard > h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 720px) {
  .quiz.content > div,
  .ans.content > div {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .ans--action {
    flex-direction: column;
    gap: 15px;
  }
  .ans--result {
    text-align: center;
  }
}
